body {
    background-image: url(https://images.unsplash.com/photo-1536566482680-fca31930a0bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
}
ul{
    list-style-type: none;
    color: #778899;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

header{
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    background-color: #778899;
    color: whitesmoke;
}
a {
    text-decoration: none;
    color: white;
}

.mywork {
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
    margin: 0px;
}

img {
    max-width: 400px;
}

.about {
    padding-bottom: 30px;
}

#googleForm {
    text-align: center;
    background-color: lightblue;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
}