* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #0D0D0D;
    font-family: 'PT Serif';
    text-align: center;
    color: white;
    padding: 15px;
}

body {
    width: 100%;
}

.contact{
    list-style-type: none;
    color: #778899;
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    padding: 2vh;
}

header{
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    background-color: #0D0D0D;
    color: whitesmoke;
}
a {
    font-family: 'Source Serif Pro';
    text-decoration: none;
    color: #A3B4BF;
}

.myWork {
    background-color: #BFBFBF;
}

h1 {
    font-family: 'Oxanium';
    text-align: center;
    padding: 20px 0;
}

.aboutme {
    font-family: 'PT Serif';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #595959;
    margin: 0 auto;
    padding: 20px 0;
}
.me {
    max-width: 10vw;
}
img {
    padding: 20px 0;
    max-width: 50vw;
}

.googleForm {
    padding-top: 20px;
    background-color: #262626;
}

#projects {
    background-color: #49728C;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px;
}

#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #49728C;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle, black, grey);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}